*{
    line-height: 1.5;

}


body{
    background-color: rgb(113, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: brown;
    font-size: 300%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
